<li>
  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
  <span class="post-meta">{{ post.date | date: date_format }}</span>
  <h3>
    <a class="post-link" href="{{ post.url | relative_url }}">
      {{ post.title | escape }}
    </a>
  </h3>
  {%- if post.excerpt -%}
    <div class="post-excerpt">
      {%- if post.image -%}
        <div class="post-excerpt-image">
          <a class="post-link" href="{{ post.url | relative_url }}">
            <img src="{{ post.image }}" alt="{{ post.title }}" />
          </a>
        </div>
      {%- endif -%}
      <div class="post-excerpt-text">
        {{ post.excerpt }}
        <p>
          <a href="{{ post.url | relative_url }}">
            Read more >
          </a>
        </p>
      </div>
    </div>
  {%- endif -%}
</li>
