<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <script type="module">
      import PhotoSwipeLightbox from '/assets/photoswipe-lightbox.esm.min.js';
      import PhotoSwipe from '/assets/photoswipe.esm.min.js';
      const lightbox = new PhotoSwipeLightbox({
        gallery: '.page-content',
        children: 'a.gallery-image',
        pswpModule: PhotoSwipe
      });
      lightbox.init();
    </script>
  </body>

</html>
